<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your BettingGames</ion-title>
    <ion-buttons *ngIf="hideMe" end>
      <button ion-button name="new" (click)="addGame()"><ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <button ion-item *ngFor="let bettingGame of bettingGames" (click)="itemSelected(bettingGame)">
      {{ bettingGame.title }}
    </button>
  </ion-list>

</ion-content>
